/target/
.idea/
__pycache__/
l_input_files/
input_output_files/
compressed_datasets/
venv/
.venv/
*.egg-info/
build/
l_output_files/
Simod/
bimp_test_examples/sim_output/
bimp_test_examples/
*.egg-info
.pymon
.DS_Store
.vscode/
dist/
poetry.lock
testing_scripts/assets/simulation_warnings.txt