name: Build & Test

on:
  push:
    branches: [ main, ci_setup ]
  pull_request:
    branches: [ main, ci_setup ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2.3.0
        with:
          python-version: 3.8
      - run: pip install -r requirements.txt
      - run: pip install --editable .
      - run: pytest testing_scripts/
